# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode


###curso-asincronismo

/curso-asincronismo/scr/async/node_modules/*
/curso-asincronismo/scr/async/package.json
/curso-asincronismo/scr/async/package-lock.json

/curso-asincronismo/scr/callback/node_modules/*
/curso-asincronismo/scr/callback/package.json
/curso-asincronismo/scr/callback/package-lock.json

/curso-asincronismo/scr/promise/node_modules/*
/curso-asincronismo/scr/promise/package.json
/curso-asincronismo/scr/promise/package-lock.json


### VisualStudioCode ###
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/visualstudio