* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

html {
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

.container {
    border: 1.3rem solid black;
    height:  50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* flex-wrap: wrap; /* cambia la posicion de los elementos segun el tamaño del viewport */
    /* justify-content: space-evenly; /*  ubica los elemento al  centro dentro del contenedor*/
}

.box {
    width: 10rem;
    height: 10rem;
}

.box1 {
    background-color: blue;
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: burlywood;
}
.box4 {
    background-color: cadetblue;
}
.box5 {
    background-color: coral;
}
.box6 {
    background-color: salmon;
}