* {
    padding: 0;
    box-sizing: border-box
}

html{
    font-size: 62.5%;
}

.parent {
    border: 2px black dotted;
    display: inline-block;
}

.box {
    display: inline-block;
    background-color: red;
    width: 100px;
    height: 100px;
}

#two {
    background-color: green;
}